.portfolio{
   top: 40px;
   margin-left: 2.5rem;
   position: absolute;
   left: 50%;
   transform: translate(-50%, 0);
   -webkit-transform: translate(-50%, 0);
   -moz-transform: translate(-50%, 0);
   -ms-transform: translate(-50%, 0);
   -o-transform: translate(-50%, 0);
}
.projects{
    display: flex;
    flex-direction: column;
    position: relative;
margin-top: 50px;
overflow-y: scroll;
overflow-x: hidden;


}



.project{ 
    width: 540px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgb(41, 41, 41);
     padding: 20px; 
     font-family: "Roboto", sans-serif;
     color: rgb(221, 221, 221);
     margin-bottom: 40px;
 
img {
        width: 500px;
        height: 270px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
}

.title-portfolio{
font-size: 30px;
}

.description-portfolio{
font-size: 18px;
margin-bottom: 25px;
}

.link-portfolio{
    font-family: "Roboto", sans-serif;
font-weight: 600;
font-size: 20px;
padding: 5px 10px;
    color:rgb(221, 221, 221) ;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(255, 60, 60);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

::-webkit-scrollbar {
    width: 2px !important;
  }
  
  ::-webkit-scrollbar-track {
    background: #202020;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(235, 0, 0) !important;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 110, 110);
  }


  @media only screen and (min-width: 2500px) {
    .project{ 
      width: 1000px;

  img {
          width: 960px;
          height: 550px;
        
  }

  }

  .title-portfolio{
    font-size: 50px;
    }
    
    .description-portfolio{
    font-size: 30px;
    margin-bottom: 25px;
    }
    
    .link-portfolio{
       
    font-size: 35px;
    padding: 5px 10px;
      
    }


}


@media only screen and (min-width: 2000px) {

  .project{ 
    width: 800px;

img {
        width: 760px;
        height: 450px;
      
}

}

.title-portfolio{
  font-size: 50px;
  }
  
  .description-portfolio{
  font-size: 30px;
  margin-bottom: 25px;
  }
  
  .link-portfolio{
     
  font-size: 35px;
  padding: 5px 10px;
    
  }

}


@media only screen and (min-width: 1500px) {

  .project{ 
    width: 600px;

img {
        width: 560px;
        height: 250px;
      
}

}

.title-portfolio{
  font-size: 50px;
  }
  
  .description-portfolio{
  font-size: 30px;
  margin-bottom: 25px;
  }
  
  .link-portfolio{
     
  font-size: 35px;
  padding: 5px 10px;
    
  }

}


@media only screen and (max-width: 900px) {

  .project{ 
    width: 500px;

img {
        width: 460px;
        height: 250px;
      
}

}

.title-portfolio{
  font-size: 25px;
  }
  
  .description-portfolio{
  font-size: 16px;
  margin-bottom: 25px;
  }
  
  .link-portfolio{
     
  font-size: 20px;
  padding: 5px 10px;
    
  }

}


@media only screen and (max-width: 700px) {

  .ht111{
font-size: 80px !important;

}
  .project{ 
    width: 420px;

img {
        width: 380px;
        height: 200px;
      
}

}

.title-portfolio{
  font-size: 20px;
  }
  
  .description-portfolio{
  font-size: 16px;
  margin-bottom: 25px;
  }
  
  .link-portfolio{
     
  font-size: 20px;
  padding: 5px 10px;
    
  }

}

@media only screen and (max-width: 700px) {

  .ht111{
font-size: 80px !important;

}
  .project{ 
    width: 420px;

img {
        width: 380px;
        height: 200px;
      
}

}

.title-portfolio{
  font-size: 20px;
  }
  
  .description-portfolio{
  font-size: 16px;
  margin-bottom: 25px;
  }
  
  .link-portfolio{
     
  font-size: 20px;
  padding: 5px 10px;
    
  }

}

@media only screen and (max-width: 600px) {
  .portfolio{
    margin-left: 0;}
  .ht111{
font-size: 70px !important;

}
  .project{ 
    width: 400px;

img {
        width: 360px;
        height: 200px;
      
}

}

.title-portfolio{
  font-size: 18px;
  }
  
  .description-portfolio{
  font-size: 13px;
  margin-bottom: 25px;
  }
  
  .link-portfolio{
     
  font-size: 17px;
  padding: 5px 10px;
    
  }

}

@media only screen and (max-width: 500px) {

  .ht111{
font-size: 50px !important;

}
  .project{ 
    padding: 10px;
    width: 365px;

img {
        width: 345px;
        height: 205px;
      
}

}

.title-portfolio{
  font-size: 15px;
  }
  
  .description-portfolio{
  font-size: 11px;
  margin-bottom: 25px;
  }
  
  .link-portfolio{
     
  font-size: 17px;
  padding: 5px 10px;
    
  }

}

@media only screen and (max-width: 400px) {

  .ht111{
font-size: 40px !important;

}
  .project{ 
    padding: 10px;
    width: 335px;

img {
        width: 315px;
        height: 190px;
      
}

}

.title-portfolio{
  font-size: 15px;
  }
  
  .description-portfolio{
  font-size: 12px;
  margin-bottom: 17px;
  }
  
  .link-portfolio{
     
  font-size: 14px;
  padding: 5px 10px;
    
  }

}


@media only screen and (max-width: 350px) {

  .ht111{
font-size: 35px !important;

}
  .project{ 
    padding: 10px;
    width: 275px;

img {
        width: 255px;
        height: 145px;
      
}

}

.title-portfolio{
  font-size: 11px;
  }
  
  .description-portfolio{
  font-size: 8px;
  margin-bottom: 10px;
  }
  
  .link-portfolio{
     
  font-size: 9px;
  padding: 5px 10px;
    
  }

}