.skills{

    margin-left: 6rem;
    padding: 1rem;
    position: absolute;
    top: 60px;
    left: 1px;
    z-index: 9;
}


.skills-div{


}

.skills-ul{

display: flex;
}

.skill{
    display: inline-block;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: white;
    list-style: none;
    margin-bottom: 18px;
    font-size: 1.5rem;
    margin-right: 18px;
    background-color: rgb(66, 66, 66);
    border-radius: 8px;
    padding: 0.5rem 1.3rem;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.skill-orange{
    color: white;
    background-color:#EE5A24 ;
}

.skill-blue{
    color: white;
    background-color: #0652DD;
}

.skill-pink{
    color: white;
    background-color: #e84393;
}

.skill-purple{
    color: white;
    background-color: #5f27cd;
}

.skill-yellow{
    color: white;
    background-color: #f1c40f;
}

.skill-blue-1{
    color: white;
    background-color: #74b9ff;
}

.skill-green{
color: white;
background-color: #44bd32;
}

.skill-gray{
color: white;
background-color: #576574;
}

.skill-red{
    color: white;
    background-color: #eb2f06;

}

.skill-black{
    color: white;
    background-color: black;
}

.sk{
    margin-bottom: 50px;
}

@media only screen and (max-width: 780px) {



.ht3{
    font-size: 5rem !important;
    margin-bottom: 20px;

}

}

@media only screen and (max-width: 780px) {

    .skills{
        margin-top: 4px !important;
        top: 20px;

    }
 
    .ht3{
     font-size: 5rem !important;
     margin-bottom: 20px;

    }
}


    @media only screen and (max-width: 700px) {

.skills{

    margin-left: 6rem;
    position: absolute;
    top: 15px;
    z-index: 9;
}




.skill{
margin-bottom: 13px;
font-size: 1.2rem;
margin-right: 10px;
padding: 0.35rem 1.15rem;

} }

@media only screen and (max-width: 600px) {

    .skills{
    
        margin-left: 2rem;
        position: absolute;
        top: 13px;
        z-index: 9;
    }
    
    
    
    
    .skill{
    margin-bottom: 10px;
    font-size: 1rem;
    margin-right: 10px;
    padding: 0.35rem 1.15rem;
    
    } }

    @media only screen and (max-width: 400px) {

        .skills{
        
            margin-left: 2rem;
            position: absolute;
            top: 13px;
            z-index: 9;
        }
        
        
        
        
        .skill{
        margin-bottom: 10px;
        font-size: 1rem;
        margin-right: 10px;
        padding: 0.35rem 1.15rem;
        
        } 
    
        .ht3{
            font-size: 4rem !important;
        }
    
    }

    @media only screen and (max-width: 370px) {

        .skills{
        
            margin-left: 1rem;
            position: absolute;
            top: 2px;
            z-index: 9;
        }
        
        
        
        
        .skill{
        margin-bottom: 5px;
        font-size: 0.9rem;
        margin-right: 5px;
        padding: 0.3rem 1.1rem;
        
        } 
    
       
    
    }